@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;800&display=swap");

body {
  background-color: #f3f2f0;
  font-family: "Recursive", sans-serif;
}

.drum-pad {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  background-color: #538fbe;
  padding: 20px 70px;
  font-size: 40px;
  border: 1px solid #2d6898;
  cursor: pointer;
  background-image: linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(73, 132, 180)),
    color-stop(1, rgb(97, 155, 203))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.drum-pad:active {
  background-image: linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88, 154, 204)),
    color-stop(1, rgb(90, 150, 199))
  );
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#display {
  display: flex;
  color: rgba(46, 46, 46, 0.863);
  box-shadow: 0 4px 6px rgb(194, 192, 192);
  flex-direction: column;
  align-content: center;
}
